<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>Profil</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="assets/img/micha.jpg"></ion-img>
            </ion-avatar><br>
            <ion-label>
              Michael Fucking Herbut
            </ion-label>
          </ion-item>
          <ion-item>
              Status: Teilnehmer
            </ion-item>
          <ion-item>
            Vorname: Michael <ion-icon name="create"></ion-icon>
          </ion-item>
          <ion-item>
            Nachname: Fucking Herbut <ion-icon name="create"></ion-icon>
          </ion-item>
          <ion-item>
            E-Mail: michael@fuckingherbut.de <ion-icon name="create"></ion-icon>
          </ion-item>
          <ion-item>
            Zitat: Fucking for Living <ion-icon name="create"></ion-icon>
          </ion-item>
        </ion-list>
  