<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Passwort</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button fill="solid" expand="block" color="dark" (click)="login()">Login</ion-button>
  <ion-item routerLink="/register">Need to register?</ion-item>
  <ion-item routerLink="/menu/user">(temporary) User</ion-item>
  <ion-item routerLink="/menu/jury">(temporary) Jury</ion-item>
</ion-content>
