<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Startseite nach Login
        <ion-avatar routerLink="/profile"><ion-img src="assets/img/micha.jpg"></ion-img></ion-avatar>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
          <ion-avatar slot="start">
             <ion-img src="assets/img/micha.jpg"></ion-img>
          </ion-avatar>
        </ion-item>
        <ion-item>
          <ion-label>
            Michael Fucking Herbut
          </ion-label>
        </ion-item>
        <ion-item>
            Gruppe: The Fuckers
        </ion-item>
      </ion-list>
